
nav#info-bar
    div
        h2 Projects
        p Scroll over the dots to see the project names and click for a dashboard overview. 
            | Click again for details and news and to contact.
        p.read_more: a(href="/doc/project-info" target="_blank") More...
    div
        h2 Ecosystem domain
        p Click to find more details about the three SWForum domains of R&I. For more detail, filter using the ACM Computing Classification System.
        p.read_more: a(href="/doc/ecosystem-domains" target="_blank") More...
    div
        h2 Lifecycle
        p The radar rings show the stage of the projects based on the Software Development 
            | Life Cycle: From the centre: Adopt, Trial, Assess, Hold.
        p.read_more: a(href="/doc/lifecycle" target="_blank") More...
    div
        h2 Readiness
        p Traffic-light Coloured dots show the absolute value of the projects' market and technology readiness level. Green showing fastest relative 
            | progress. 
        p.read_more: a(href="/doc/readiness" target="_blank") More...
