extends ../../structure/_base

block content

    section.intro
        a(name="intro")
        div.title Ecosystem domains
        p:  | The EU Project radar provides an accurate and unique birds eye view of the European 
            | R&amp;I cybersecurity landscape of EC-funded projects. The backbone of the EU 
            | Project Radar are six segments which represent the Cybersecurity R&amp;I taxonomy as 
            | defined by the University of Oxford. These are described below.
        p:  | When populating the radar, a project's classification according to the taxonomy
            | determines the sector in which the project's radar "blip" (a small circle) will
            | be placed.
        p:  img(src="/img/radar_segment_view.png" style="display: block; width: 50%; margin: auto;")
        p:  | By clicking on the radar segments, you can dive deeper into each theme and get a 
            | clearer picture of the different projects that have been funded and their relative 
            | maturity. Each blip represents a project and you can click  on them for more 
            | information. Projects are also listed on the right of the screen and information 
            | can be accessed there too by clicking on the project name.
        p:  | Use the ACM Taxonomy filter to identify projects working on a particular technology 
            | or vertical sector.

    section.topic
        a(name="taxonomy")
        div.title SWForum Taxonomy
        p:  | The SWForum.eu project uses University of Oxford's SWForum Taxonomy 
            | to classify projects for the radar.
            | The taxonomy includes three terms whose definitions are given below.
        p:  | To learn more about how and why this taxonomy was used for the radar, and how we also 
            | mapped the taxonomy to other well-known about the cybersecurity definitions such as 
            | the NIST Cybersecurity framework, please follow through to this Cyberwatching.eu 
            a(href="https://www.cyberwatching.eu/d21-cybersecurity-and-privacy-ecosystem-model-report-taxonomy-cybersecurity-and-privacy-assess-coverage-developed-landscape-ec-and-nationally-funded-projects") report 
            | .

    section.sub-topic
        div.title Languages and Frameworks
        p:  | This can be any kind of new programming language and/or a language framework. 

    section.sub-topic
        div.title Tools and Techniques
        p:  | Tools can be components, such as databases, software development tools, 
            | such as versions control systems; or more generic categories of tools, such as the notion of polyglot persistence.
            | Techniques include elements of a software development process, 
            | such as experience design; and ways of structuring software, such as microservices.

    section.sub-topic
        div.title Platforms
        p:  | Things that we build software on top of such as mobile technologies like Android, 
            | virtual platforms like the JVM, or generic kinds of platforms like hybrid clouds.


    section.topic
        a(name="jrc_taxonomy")
        div.title Filter projects by ACM taxonomy terms
        p:  | If you are looking for projects that are working on a particular technology or 
            | vertical sector then by clicking on “ACM Taxonomy” you can hone in on range of 
            | choices of exactly which topics to view.
        p:  | The filters are based on the EC’s Joint Research Centre’s Cybersecurity taxonomy 
            | which has been designed to categorise EU competencies in the field. The radar 
            | quickly visualizes the different selections that you make based on this 
            | three-dimensional taxonomy which covers research domains, sectors and technology 
            | and use-case dimensions. 
        p:  | The taxonomy is an integral part of the EC’s new 
            a(href="https://cybersecurity-atlas.ec.europa.eu/") Cybersecurity Atlas 
            | which maps, categorises and stimulates collaboration between European cybersecurity 
            | experts in support of the EU Digital Strategy.
        p:  | You can also quickly visualize statistics pertaining to your selection including 
            | the number of projects and their type, total budget, average budget, total duration and average duration.

        p:  img(src="/img/radar_filter_statistics.png" style="display: block; margin: auto; width: 60%;")

        p:  | You can view the full ACM taxonomy 
            a(href="https://dl.acm.org/ccs") here
            | . Cyberwatching.eu contributed to this first edition sharing information of the 
            | Cyberwatching.eu taxonomy mentioned above.


