extends ../structure/_base

block content
    h1(style="text-align: center") Disclaimer

    p:  | All the data and information provided in this radar is an interpretation of the creators. 
        | The owners are not responsible for any references made to the data from the radar.